/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) and (max-width: 575.98px) {

    .my_btn {
        font-size: 15px;
        line-height: 15px;
        padding: 15px 20px;
        border: 2px solid var(--green);
    }

    .my_btn:hover {
        border: 2px solid var(--green);
    }

    /* =========navbar responsive css========= */
    .navbar {
        background: transparent;
    }

    /* =========banner_part responsive css==== */
    #banner_part .overlay .content h1 {
        font-size: 32px;
        line-height: 40px;
        width: 100%;
    }

    #banner_part .overlay .content p {
        font-size: 15px;
        line-height: 28px;
        width: 100%;
        text-align: start;
        margin: 20px 0 16px;
    }

    /* =========counter_part responsive css=== */
    #counter_part {
        padding: 120px 0;
    }

    #counter_part .counter h2 {
        font-size: 47px;
        line-height: 50px;
    }

    #counter_part .counter p {
        font-size: 18px;
        line-height: 20px;
    }

    #counter_part .count_after::after {
        width: 3px;
        height: 95px;
    }

    #counter_part .count_after_remove::after {
        width: 0px;
        height: 0px;
    }

    #counter_part .row_gap {
        row-gap: 30px;
    }

    #counter_part .counter_shape {
        transform: translateX(62px);
        width: 50%;
    }

    /* =========choose_part responsive css==== */
    #choose_part {
        padding-top: 70px;
        height: 840px;
    }

    #choose_part .choose_shape {
        width: 240px;
        z-index: -1;
    }

    #choose_part .right {
        margin-left: 0;
    }

    #choose_part .right h3 {
        font-size: 43px;
    }

    #choose_part .right p {
        font-size: 17px;
        margin-bottom: 20px;
        width: 100%;
    }

    #choose_part .sec_details .icon {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }

    #choose_part .sec_details .icon::after {
        width: 20px;
        height: 20px;
        left: 8px;
    }

    #choose_part .sec_details p {
        width: 100%;
        font-size: 13px;
        margin-left: 24px;
    }

    #choose_part .sec_details:hover {
        padding: 25px 0;
        box-shadow: 5px 30px 60px rgba(162, 169, 192, 0.15);
    }

    /* =========service_part responsive css=== */
    #service_part {
        padding: 60px 0;
    }

    #service_part .card_info h4 {
        font-size: 43px;
    }

    #service_part .card_info p {
        line-height: 28px;
        margin: 10px 0 20px;
    }

    #service_part .ser_card h5 {
        font-size: 24px;
        line-height: 36px;
        margin-top: 24px;
    }

    #service_part .ser_card p {
        font-size: 13px;
        line-height: 27px;
    }

    #service_part .ser_card a {
        font-size: 14px;
        padding: 5px 13px;
    }

    /* =========create_impact responsive css== */
    #create_impact {
        padding: 70px 0 85px;
    }

    #create_impact .title h3 {
        text-align: start;
        font-size: 45px;
        line-height: 52px;
    }

    #create_impact .title p {
        font-size: 15px;
        line-height: 30px;
        width: 100%;
        margin: 18px auto 30px;
        text-align: start;
    }

    #create_impact .left img {
        margin-right: 10px;
        height: 45px;
        margin-top: 4px;
    }

    #create_impact .left .text h5 {
        font-size: 24px;
        line-height: 30px;
    }

    #create_impact .left .text p {
        font-size: 13px;
        line-height: 25px;
        margin-top: 8px;
        width: 100%;
    }

    #create_impact .right {
        display: none;
    }

    #create_impact .impact_shape {
        transform: translateX(105px);
        z-index: -1;
        width: 70%;
    }

    /* =========our_plans responsive css====== */
    #our_plans {
        padding: 60px 0;
    }

    #our_plans .title h3 {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 24px;
    }

    /* =========review_part responsive css==== */
    #review_part {
        padding: 60px 0;
    }

    #review_part .title h3 {
        font-size: 42px;
        line-height: 60px;
        margin-bottom: 120px;
    }

    #review_part .prev,
    .next {
        display: none;
    }

    #review_part .reviews {
        padding: 65px 10px 15px;
        box-shadow: -5px 5px 20px rgba(171, 175, 199, 0.301961);
        width: 100%;
    }

    #review_part .reviews .profile {
        filter: drop-shadow(-5px 5px 10px rgba(94, 91, 91, 0.3));
        width: 30%;
    }

    #review_part .reviews p {
        font-size: 14px;
        line-height: 25px;
        width: 100%;
        margin: 15px auto 0;
    }

    /* =========blog_part responsive css====== */
    #blog_part {
        padding: 60px 0;
    }

    #blog_part .blog_container {
        width: 100%;
    }

    #blog_part .title h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #blog_part .blog_shape {
        transform: translateX(-80px);
        width: 60%;
    }

    #blog_part .blog_container .blog .image {
        width: 100%;
        height: 200px;
    }

    #blog_part .blog_container .blog .blog_details .blog_info .blog_tags {
        font-size: 13px;
    }

    #blog_part .blog_container .blog .blog_details h5 {
        font-size: 27px;
        line-height: 36px;
        width: 100%;
    }

    #blog_part .blog_container .blog {
        margin-bottom: 30px;
    }

    #blog_part .blog_container .blog .blog_details .blog_btn {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 15px;
    }

    /* =========footer responsive css========= */
    #footer_section {
        padding: 60px 0 10px;
    }

    #footer_section .contact_us p {
        width: 100%;
        font-size: 16px;
        line-height: 148%;
        margin: 24px 0;
    }

    #footer_section .contact_us h2 {
        margin-bottom: 10px;
    }

    #footer_section .contact_us ul li a {
        padding: 10px 0;
        font-size: 18px;
    }

    #footer_section .footer_part p {
        font-size: 13px;
        padding-top: 5px;
    }

    #footer_section .footer_part .hov {
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .my_btn {
        font-size: 17px;
        line-height: 15px;
        padding: 17px 30px;
        border: 2px solid var(--green);
    }

    .my_btn:hover {
        border: 2px solid var(--green);
    }

    /* =========navbar responsive css========= */
    .navbar {
        background: transparent;
    }

    .navbar .offcanvas {
        background: rgba(22, 12, 109, .8);
        width: 380px;
    }

    /* =========banner_part responsive css==== */
    #banner_part .overlay .content h1 {
        font-size: 57px;
        line-height: 65px;
        width: 100%;
    }

    #banner_part .overlay .content p {
        font-size: 19px;
        line-height: 28px;
        width: 100%;
    }

    /* =========counter_part responsive css=== */
    #counter_part {
        padding: 140px 0;
    }

    #counter_part .counter p {
        font-size: 28px;
        line-height: 20px;
    }

    #counter_part .count_after::after {
        width: 3px;
        height: 95px;
    }

    #counter_part .count_after_remove::after {
        width: 0px;
        height: 0px;
    }

    #counter_part .row_gap {
        row-gap: 30px;
    }

    #counter_part .counter_shape {
        transform: translateX(62px);
        width: 50%;
    }

    /* =========choose_part responsive css==== */

    #choose_part {
        height: 870px;
    }

    #choose_part .choose_shape {
        width: 240px;
        z-index: -1;
    }

    #choose_part .right {
        margin-left: 0;
    }

    #choose_part .right p {
        font-size: 17px;
        margin-bottom: 20px;
        width: 100%;
    }

    #choose_part .sec_details .icon {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }

    #choose_part .sec_details .icon::after {
        width: 20px;
        height: 20px;
        left: 8px;
    }

    #choose_part .sec_details p {
        width: 100%;
        font-size: 20px;
        margin-left: 24px;
        line-height: 40px;
    }

    /* =========service_part responsive css=== */

    #service_part {
        padding: 80px 0;
    }

    #service_part .card_info p {
        margin: 10px 0 20px;
    }

    #service_part .ser_card {
        padding: 25px 10px;
    }

    #service_part .ser_card h5 {
        font-size: 20px;
        line-height: 36px;
        margin-top: 24px;
    }

    #service_part .ser_card p {
        font-size: 12px;
        line-height: 24px;
    }

    #service_part .ser_card a {
        font-size: 14px;
        padding: 5px 13px;
    }

    /* =========create_impact responsive css== */
    #create_impact {
        padding: 70px 0 520px;
    }

    #create_impact .title h3 {
        text-align: start;
        font-size: 45px;
        line-height: 52px;
    }

    #create_impact .title p {
        font-size: 15px;
        line-height: 30px;
        width: 100%;
        margin: 18px auto 30px;
        text-align: start;
    }

    #create_impact .left .text p {
        font-size: 16px;
        line-height: 27px;
        margin-top: 8px;
        width: 100%;
    }

    #create_impact .impact_shape {
        transform: translateX(105px);
        z-index: -1;
        width: 70%;
    }

    /* =========our_plans responsive css====== */
    #our_plans {
        padding: 85px 0;
    }

    #our_plans .title h3 {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 24px;
    }

    #our_plans .plan_card {
        padding: 40px 0 30px;
    }

    #our_plans .plan_card .image {
        height: 150px;
    }

    #our_plans .plan_card .image img {
        width: 90%;
    }

    #our_plans .plan_card h4 {
        margin: 20px 0 10px;
    }

    #our_plans .plan_card p {
        font-size: 14px;
        width: 100%;
    }

    /* =========review_part responsive css==== */
    #review_part {
        padding: 60px 0;
    }

    #review_part .title h3 {
        font-size: 42px;
        line-height: 60px;
        margin-bottom: 120px;
    }

    #review_part .prev,
    .next {
        display: none;
    }

    #review_part .reviews {
        padding: 90px 10px 15px;
        box-shadow: -5px 5px 20px rgba(171, 175, 199, 0.301961);
        width: 100%;
    }

    #review_part .reviews .profile {
        filter: drop-shadow(-5px 5px 10px rgba(94, 91, 91, 0.3));
        width: 30%;
    }

    #review_part .reviews p {
        font-size: 14px;
        line-height: 25px;
        width: 100%;
        margin: 15px auto 0;
    }

    /* =========blog_part responsive css====== */
    #blog_part {
        padding: 80px 0;
    }

    #blog_part .blog_container {
        width: 100%;
    }

    #blog_part .title h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #blog_part .blog_shape {
        transform: translateX(-80px);
        width: 60%;
    }

    #blog_part .blog_container .blog .image {
        width: 100%;
    }

    #blog_part .blog_container .blog .blog_details .blog_info .blog_tags {
        font-size: 15px;
    }

    #blog_part .blog_container .blog .blog_details h5 {
        font-size: 27px;
        line-height: 36px;
        width: 100%;
    }

    #blog_part .blog_container .blog {
        margin-bottom: 30px;
    }

    #blog_part .blog_container .blog .blog_details .blog_btn {
        font-size: 18px;
    }

    /* =========footer responsive css========= */
    #footer_section {
        padding: 60px 0 10px;
    }

    #footer_section .contact_us p {
        width: 100%;
        font-size: 16px;
        line-height: 148%;
        margin: 24px 0;
    }

    #footer_section .contact_us h2 {
        margin-bottom: 10px;
    }

    #footer_section .contact_us ul li a {
        padding: 10px 0;
        font-size: 18px;
    }

    #footer_section .footer_part p {
        font-size: 13px;
        padding-top: 5px;
    }

    #footer_section .footer_part .hov {
        font-size: 15px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .my_btn {
        border: 2px solid var(--green);
    }

    .my_btn:hover {
        border: 2px solid var(--green);
    }

    /* =========navbar responsive css========= */
    .navbar {
        background: transparent;
    }

    .navbar .offcanvas {
        background: rgba(22, 12, 109, .8);
        width: 480px;
    }

    /* =========banner_part responsive css==== */
    #banner_part .overlay .content h1 {
        font-size: 57px;
        line-height: 65px;
        width: 100%;
    }

    #banner_part .overlay .content p {
        font-size: 19px;
        line-height: 28px;
        width: 100%;
    }

    /* =========counter_part responsive css=== */
    #counter_part {
        padding: 140px 0;
    }

    #counter_part .counter p {
        font-size: 28px;
        line-height: 20px;
    }

    #counter_part .count_after::after {
        width: 3px;
        height: 95px;
    }

    #counter_part .count_after_remove::after {
        width: 0px;
        height: 0px;
    }

    #counter_part .row_gap {
        row-gap: 30px;
    }

    #counter_part .counter_shape {
        transform: translateX(62px);
        width: 50%;
    }

    /* =========choose_part responsive css==== */

    #choose_part {
        height: 810px;
    }

    #choose_part .choose_shape {
        width: 240px;
        z-index: -1;
    }

    #choose_part .right {
        margin-left: 0;
    }

    #choose_part .right p {
        font-size: 17px;
        margin-bottom: 20px;
        width: 80%;
    }

    #choose_part .sec_details p {
        width: 65%;
    }

    /* =========service_part responsive css=== */

    #service_part {
        padding: 80px 0;
    }

    #service_part .card_info p {
        margin: 10px 0 20px;
        width: 80%;
    }

    #service_part .ser_card {
        padding: 48px 15px;
    }

    #service_part .ser_card h5 {
        font-size: 27px;
    }

    #service_part .ser_card p {
        font-size: 16px;
    }

    /* =========create_impact responsive css== */
    #create_impact {
        padding: 70px 0 520px;
    }

    #create_impact .title h3 {
        text-align: start;
        font-size: 45px;
        line-height: 52px;
    }

    #create_impact .title p {
        font-size: 15px;
        line-height: 30px;
        width: 100%;
        margin: 18px auto 30px;
        text-align: start;
    }

    #create_impact .left .text p {
        font-size: 16px;
        line-height: 27px;
        margin-top: 8px;
        width: 100%;
    }

    #create_impact .impact_shape {
        transform: translateX(105px);
        z-index: -1;
        width: 70%;
    }

    /* =========our_plans responsive css====== */
    #our_plans {
        padding: 85px 0;
    }

    #our_plans .title h3 {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 24px;
    }

    #our_plans .plan_card {
        padding: 40px 0 30px;
    }

    #our_plans .plan_card .image {
        height: 150px;
    }

    #our_plans .plan_card .image img {
        height: 100%;
    }

    #our_plans .plan_card p {
        width: 100%;
    }

    /* =========review_part responsive css==== */
    #review_part {
        padding: 60px 0;
    }

    #review_part .title h3 {
        font-size: 42px;
        line-height: 60px;
        margin: 0 auto 120px;
        width: 80%;
    }

    #review_part .prev,
    .next {
        display: none;
    }

    #review_part .reviews {
        padding: 90px 20px 25px;
        width: 100%;
    }

    #review_part .reviews p {
        font-size: 18px;
        width: 100%;
        margin: 15px auto 0;
    }

    /* =========blog_part responsive css====== */
    #blog_part {
        padding: 80px 0;
    }

    #blog_part .blog_container {
        width: 100%;
    }

    #blog_part .title h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #blog_part .blog_shape {
        transform: translateX(-80px);
        width: 60%;
    }

    #blog_part .blog_container .blog .image {
        width: 90%;
        height: 250px;
    }

    #blog_part .blog_container .blog .blog_details .blog_info .blog_tags {
        font-size: 15px;
    }

    #blog_part .blog_container .blog .blog_details h5 {
        font-size: 27px;
        line-height: 36px;
        width: 90%;
    }

    #blog_part .blog_container .blog {
        margin-bottom: 30px;
    }

    #blog_part .blog_container .blog .blog_details .blog_btn {
        font-size: 18px;
    }

    /* =========footer responsive css========= */
    #footer_section {
        padding: 60px 0 10px;
    }

    #footer_section .contact_us p {
        margin-bottom: 24px;
    }

    #footer_section .contact_us h2 {
        margin-bottom: 10px;
    }

    #footer_section .contact_us ul li a {
        padding: 10px 0;
        font-size: 18px;
    }

    #footer_section .footer_part p {
        font-size: 13px;
        padding-top: 5px;
    }

    #footer_section .footer_part .hov {
        font-size: 15px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .my_btn {
        font-size: 15px;
        padding: 12px 24px;
    }

    /* =========navbar responsive css========= */
    .navbar {
        padding: 0;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding: 6px 14px;
        font-size: 16px;
    }

    /* =========banner_part responsive css==== */
    #banner_part .overlay .content h1 {
        font-size: 70px;
        line-height: 90px;
    }

    #banner_part .overlay .content p {
        font-size: 20px;
    }

    #banner_part .overlay .content .bg_shape2 {
        width: 100px;
        transform: translateX(-70%);
    }

    #banner_part .bg_shape1 {
        width: 100px;
    }

    /* =========counter_part responsive css=== */
    #counter_part {
        padding: 220px 0;
        z-index: -2;
    }

    #counter_part .counter h2 {
        font-size: 54px;
        line-height: 60px;
    }

    #counter_part .counter p {
        font-size: 24px;
    }

    #counter_part .count_after::after {
        height: 95px;
    }

    #counter_part .counter_shape {
        z-index: -1;
    }

    /* =========choose_part responsive css===== */

    #choose_part {
        height: 600px;
    }

    /* =========service_part responsive css=== */
    #service_part .ser_card {
        padding: 48px 20px;
    }

    #service_part .ser_card h5 {
        font-size: 23px;
    }

    #service_part .ser_card p {
        font-size: 16px;
    }

    #create_impact .right .three {
        left: 113px;
    }

    #create_impact .right .edit {
        border-radius: 20px;
    }

    #create_impact .right .shape {
        top: 67px;
        left: 355px;
    }

    #review_part .reviews {
        padding: 90px 50px 40px 50px;
        width: 850px;
    }

    #review_part .reviews p {
        margin: 20px auto 0;
    }

    /* =========footer responsive css========= */
    #footer_section {
        padding: 120px 0 37px;
    }

    #footer_section .footer_part p {
        font-weight: 400;
        font-size: 16px;
        padding-top: 20px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}